<!-- Search by Category HTML -->
{% extends "base.html" %}
{% block content %}
<div class="bg-image">
    <img src="../static/css/images/background1.jpg" alt="Snow" style="width:100%">
</div>
<div class="bg-text">
    <h1>SEARCH BY CATEGORY</h1>
    <form method="POST" action="/searchByCategory">
        <div>
            <label for="keys">Choose a Category </label>
            <select name="keys" id="keys" class="textPrint">
                <option value="all">All</option>
                <option value="name">Name</option>
                <option value="host_id">Host ID</option>
                <option value="neighbourhood_group">Neighbourhood Group</option>
                <option value="neighbourhood">Neighbourhood</option>
                <option value="latitude">Latitude</option>
                <option value="longitude">Longitude</option>
                <option value="room_type">Room Type</option>
                <option value="price">Price</option>
                <option value="minimum_nights">Minimum Nights</option>
                <option value="number_of_reviews">Number of reviews</option>
                <option value="reviews_per_month">Reviews Per Month</option>
                <option value="calculated_host_listings_count">Calculated Host Listings Count</option>
                <option value="availability_365">Availability</option>
            </select>
            <br><br>
            <label>Search</label>
            <input type="text" id="search" name="search" class="textPrint">
            <br><br>
            <input class="button" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}