<!-- Visualization HTML -->
{% extends "base.html" %}
{% block content %}
<div class="bg-image">
    <img src="../static/css/images/vizbackground.jpg" alt="Snow" style="width:100%">
</div>
<div class="bg-text2">
    <h1>VISUALIZATION</h1>
    <div class="row">
        <!-- 1 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Original Schema</button>
            <input type="hidden" name="viz" value="originalSchema">
        </form>
        <!-- 2 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Cleaned Schema</button>
            <input type="hidden" name="viz" value="cleanedSchema">
        </form>
        <!-- 3 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Original Null Count</button>
            <input type="hidden" name="viz" value="originalNullCount">
        </form>
        <!-- 4 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Cleaned Null Count</button>
            <input type="hidden" name="viz" value="cleanedNullCount">
        </form>
        <!-- 5 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Neighbourhood Group Count Piechart</button>
            <input type="hidden" name="viz" value="neighGroupCountPieChart">
        </form>
        <!-- 6 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Neighbourhood Group Count Histogram</button>
            <input type="hidden" name="viz" value="neighGroupCountHistogram">
        </form>
        <!-- 7 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Neighbourhood Group Price Histogram</button>
            <input type="hidden" name="viz" value="neighGroupPriceHistogram">
        </form>
        <!-- 8 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Neighbourhood Count Histogram</button>
            <input type="hidden" name="viz" value="neighCountHistogram">
        </form>
        <!-- 9 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Neighbourhood Price Histogram</button>
            <input type="hidden" name="viz" value="neighPriceHistogram">
        </form>
        <!--  10 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Host Types Histogram</button>
            <input type="hidden" name="viz" value="hostTypesHistogram">
        </form>
        <!--  11 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Room Types Count Pie Chart</button>
            <input type="hidden" name="viz" value="roomTypesCountPieChart">
        </form>
        <!-- 12 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Room Types Count Histogram</button>
            <input type="hidden" name="viz" value="roomTypesCountHistogram">
        </form>
        <!-- 13 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Room Types Price Histogram</button>
            <input type="hidden" name="viz" value="roomTypesPriceHistogram">
        </form>
        <!-- 14 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Room Types in Neighbourhood Groups Histogram</button>
            <input type="hidden" name="viz" value="roomTypesNeighGroup">
        </form>
        <!-- 15 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Room Types Price in Neighbourhood Groups Histogram</button>
            <input type="hidden" name="viz" value="roomTypesPriceNeighGroup">
        </form>
        <!-- 16 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Room Types in Neighbourhood Histogram</button>
            <input type="hidden" name="viz" value="roomTypesNeigh">
        </form>
        <!-- 17 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Room Types Price in Neighbourhood Histogram</button>
            <input type="hidden" name="viz" value="roomTypesPriceNeigh">
        </form>
        <!-- 18 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Minimum Nights Count Histogram</button>
            <input type="hidden" name="viz" value="minimumNightCount">
        </form>
        <!-- 19 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Number of Reviews Price Histogram</button>
            <input type="hidden" name="viz" value="numberReviewPrice">
        </form>
        <!-- 20 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Average Reviews in Neighbourhood Groups Histogram</button>
            <input type="hidden" name="viz" value="avgReviewNeighGroup">
        </form>
        <!-- 21 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Average Reviews in Neighbourhood Histogram</button>
            <input type="hidden" name="viz" value="avgReviewNeigh">
        </form>
        <!-- 22 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Price in Locations</button>
            <input type="hidden" name="viz" value="priceLocation">
        </form>
        <!-- 23 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Number of Reviews in Locations</button>
            <input type="hidden" name="viz" value="numberReviewsLocation">
        </form>
        <!-- 24 -->
        <form method="POST" action="/visualization">
            <button class="column" type="submit">Minimum Nights in Locations</button>
            <input type="hidden" name="viz" value="minimumNightsLocation">
        </form>
    </div>
</div>

{% endblock %}